mixin features(features)
  +b.SECTION.features#features
    +e.DIV.head
      +b.features-head
        +e.P.title Настоящие <br> <span>Параметры качества</span>
    +e.DIV.wheel
        +b.DIV.wheel
          +e.DIV#wheelRollNext
          +e.DIV#wheelRollPrev
          +b.DIV.wheel-roll
            +e.DIV.item--0(class='wheel-roll__item--active' value='0')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/tissue.svg')
            +e.DIV.item--1(value='1')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/shopping-bag.svg')  
            +e.DIV.item--2(value='2')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/tool.svg')
            +e.DIV.item--3(value='3')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/pocket.svg')
            +e.DIV.item--4(value='4')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/towels.svg')
            +e.DIV.item--5(value='5')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/image.svg')
            +e.DIV.item--6(value='6')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/weight.svg')
            +e.DIV.item--7(value='7')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/padlock.svg')
            +e.DIV.item--8(value='8')
              +e.DIV
                +e.IMG.icon(class="svg" src='img/wheel/wind.svg')
          -var i=0
          each feature in features
            +b.DIV.wheel-text(id="wheel-text-"+i++)
              +e.P.title=feature.title
              if feature.text
                +e.P.text=feature.text
        
          
