mixin progress(items)
  +b.SECTION.progress
  
    +e.DIV
      +b.DIV.progress-item
        +e.SPAN.number 5
        +e.SPAN.text лет опыта
        +e.SPAN.subtext производства качественных товаров для комфортного отдыха и развлечения
      +b.DIV.progress-item
        +e.SPAN.number 9
        +e.SPAN.text степеней качества
        +e.SPAN.subtext аэродивана
      +b.DIV.progress-head
        +e.P.text Почему<br><span>Выбирают нас</span>
        
    +e.DIV
      +b.DIV.progress-item
        +e.SPAN.number 20
        +e.SPAN.text регионов РФ
        +e.SPAN.subtext с отгрузкой в тот же день
      +b.DIV.progress-item
        +e.SPAN.number 5680
        +e.SPAN.text довольных клиента
      +b.DIV.progress-item
        +e.SPAN.number 8780
        +e.SPAN.text проданных едениц
