mixin how-to()
  +b.SECTION.how-to#how-to
    +b.DIV.how-to-head
      +b.how-to-head-title
        +e.P.text Как легко надуть <br><span>Аэродиван</span>
      +e.IFRAME.video(src="https://www.youtube.com/embed/cu2YDU84Eh4" frameborder="0" allowfullscreen>)
    +b.DIV.how-to-instruction
      +e.DIV.item
        +e.IMG(src="img/how-to/1.jpg")
        +e.DIV.shade--1 Развернуть
      +e.DIV.item
        +e.IMG(src="img/how-to/2.jpg")
        +e.DIV.shade--2 Протянуть
      +e.DIV.item
        +e.IMG(src="img/how-to/3.jpg")
        +e.DIV.shade--3 Закрутить
      +e.DIV.item
        +e.IMG(src="img/how-to/4.jpg")
        +e.DIV.shade--4 Отдыхать
