.footer
  background: $primary-color
  width: 100%
  max-width: 1920px
  min-width: 320px
  z-index: 20
  &--active
    background: $main-color
  &__container
    +container(flex-end)
    height: 5em
    align-items: center
    box-sizing: border-box
    position: relative
    padding-right: 5em
    &::before
      content: ""
      position: absolute
      top: -1130%
      left: -33%
      border-top: 1110px solid transparent
      border-left: 300px solid $main-color
      border-bottom: 0px solid transparent
      z-index: -2
    &::after
      content: ""
      position: absolute
      top: -980%
      right: -33%
      border-top: 990px solid transparent
      border-right: 515px solid $primary-color
      border-bottom: 0px solid transparent
      z-index: -1
  &__contacts-phones
    width: 40%
    .footer-contacts-phones
      display: flex
      font-family: $secondary-font
      justify-content: space-between
      color: $light-color
      height: 1.5em
      overflow: hidden
      transition: .3s
      box-sizing: border-box
      &:hover
        transition: .3s
        height: 5em
        padding: .3em 0
        .footer-contacts-phones__numbers
          color: $text-color
          font-size: 1.3em
        .footer-contacts-phones__text
          font-size: 1.3em
        .footer-contacts-phones__open
          color: $light-color
      &__text
        font-size: 1.5em
        display: flex
        flex-flow: column
        justify-content: space-between
      &__numbers
        font-size: 1.5em
        font-weight: 500
        display: flex
        flex-flow: column
        align-items: flex-end
        justify-content: space-between
      &__open
        font-size: 1.5em
        position: relative
        top: 0
        color: $accent-color
        margin-left: .5em
  &__logo
    margin: 0 4.1em 0 4.6em
  &__socials
    width: 22%
    margin-right: 11%
    .socials
      a
      font-size: 1.5em
