mixin china()
  +b.SECTION.china
    +b.DIV.china-head
      +e.P.title остерегайтесь<br><span>китайских подделок просим вас не путать</span>
    +e.P.text <span>Обратите внимание!</span> Мы несем ответственность за качество производимого Аэродивана, в отличии от подделок Азиатских коллег, которые можно приобрести на рынке по гораздо более низко цене. При получении, проверяйте ламзак на месте.<br><br>Очень часто Вам говорят - да, у нас оригинал, мы продаем качественные вещи, выкладывают фотографии, а, получив посылки и распаковав, Вы обнаруживаете<span> подделку без критериев качества.</span> Будьте готовы! Вернуть этот "Товар" будет сложно, так как такие продавцы зачастую исчезают и доказывать свою позицию, чаще всего, становится просто некому.
